body, p, div, ul, h1, h2, h3, h4 {
  margin:0;
  padding:0;
}

table {
  border:none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

div#header {
  box-shadow:0px 1px 5px #888888;
  padding:20px 0;
  width:100%;
  position:fixed;
  background-color:#fff;
  z-index:100000;
}

h3#logo {
  display:inline-block;
  padding-left:65px;
  height:50px;
  line-height:50px;
  margin-left:75px;
  font-weight:normal;
  background-image:url('../images/logo.png');
  background-repeat:no-repeat; 
  background-position:left center;
}

div#header-nav {
  float:right;
  display:inline-block;
  line-height:50px;
  height:50px;
  margin-right:75px;
  font-size:0.8em;
}

ul.horizontal li {
  display:inline;
  margin-right:15px;
}

ul.horizontal li.selected {
  border-bottom: 2px solid #D7242D;
}

#content #showcase ul.staggered {
  border-left:5px solid #333;
  padding-left:30px;
  margin:90px auto 0;
  display:inline-block;
  text-align:left;
}

#content #showcase ul.staggered li {
  font-size:2em;
  letter-spacing:3px;
}

#content #showcase ul.staggered li.large {
  font-size:3em;
  font-weight:bold;
}

#content #showcase ul.staggered li.larger {
  font-size:4em;
  font-weight:bold;
  margin-bottom:5px;
}

#content #whatwedo, #content #services {
  text-align:center;
}

#content #whatwedo ul#platforms li, 
#content #services ul#steps li, 
#content #services ul#steps-text li {
  display:inline-block;
  margin-right:120px;
  width:190px;
  background-repeat:no-repeat;
  background-position:top center;
}

#content #whatwedo ul#platforms li, #content #services ul#steps li {
  padding-top:110px;
}

#content #whatwedo ul#platforms li.last, 
#content #services ul#steps li.last,
#content #services ul#steps-text li.last {
  margin-right:0;
}

#content #whatwedo ul#platforms li.ios {
  background-image:url('../images/ico_ios.png'); 
}

#content #whatwedo ul#platforms li.android {
  background-image:url('../images/ico_android.png');
}

#content #whatwedo ul#platforms li.service {
  background-image:url('../images/ico_service.png');
}

#content p.detail {
  display:inline-block;
  width:75%;
  margin-top:30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight:300;
  font-size:1.4em;
  line-height:2em;
}

#content .section {
  margin:0 75px;
  padding:80px 0;
  border-bottom: 1px solid #333;
}

#content .section.last {
  border-bottom: none;
  margin-left:0;
  padding-bottom:0;
  width:100%;
}

#content .section .section-title {
  margin-bottom:30px;
  font-size:1.5em;
  text-align:center;
}

#content #services ul#steps li.discover {
  background-image:url('../images/ico_explore.png'); 
}

#content #services ul#steps li.development {
  background-image:url('../images/ico_develop.png');
}

#content #services ul#steps li.delivery {
  background-image:url('../images/ico_delivery.png');
}

#content #services ul#steps li {
  padding-top:135px;
  background-size:90px 127px;
}

#content #services ul#steps-text {
  margin-top:10px;
}

#content #services ul#steps-text li {
  vertical-align:top;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight:300;
  font-size:1.0em;
  line-height:1.3em;
}

#content #work #slides a#work-title {
  float:left;
  margin-top:5px;
  margin-left:3px;
}

#content #work #slides a#work-title:link {
  text-decoration:none; 
}

#content #who #contact-info-container {
  width:100%;
  background-color:#1F1E1E;
  padding:50px 0;
}

#content #who div#contact-info {
  background-color:#1F1E1E;
  color:#FFFFFF;
  text-align:center;
  width:80%;
  margin:0 auto;
}

#content #who div#contact-info div.contact-section {
  float:left;
  display:inline-block;
  width:33.33%;
}

#content #who div#contact-info div.contact-section h3.email {
  background-image:url('../images/ico_email.png');
}

#content #who div#contact-info div.contact-section h3.phone {
  background-image:url('../images/ico_phone.png');
}

#content #who div#contact-info div.contact-section h3.office {
  background-image:url('../images/ico_office.png');
}

#content #who div#contact-info div.contact-section h3 {
  display:inline-block;
  padding-left:35px;
  background-repeat:no-repeat;
  background-position:top left;
  margin:20px auto;
  line-height:30px;
}
