<!DOCTYPE html>
<html>
  <head>
    <title>Ilab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <script>
      window['_fs_debug'] = false;
      window['_fs_host'] = 'www.fullstory.com';
      window['_fs_org'] = '3QN7H';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
          g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
          o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
          d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
          ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
      })(window,document,window['_fs_namespace'],'script','user');
    </script>
  </head>
  <body class="homepage not-ready">
    <div id="wrapper" v-bind:class="{'menu-on': menuState}">
      <header>
        <div id="logo"><a href="index.html">
            <svg v-bind:class="{'white': menuState}" width="85px" height="20px" viewBox="25 25 85 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(25.000000, 25.000000)">
                <polygon id="Fill-17" points="12.6339143 19.5745366 12.6339143 0.550146341 14.9930286 0.550146341 14.9930286 17.4028293 22.3880286 17.4028293 22.3880286 19.5745366"></polygon>
                <path d="M58.76662,17.3407317 C61.6017343,17.3407317 62.4327914,15.9660976 62.4327914,13.8060976 C62.4327914,11.4002439 61.0397629,10.59 58.8399629,10.59 L55.5152486,10.59 L55.5152486,17.3407317 L58.76662,17.3407317 Z M55.4666771,2.73439024 L55.4666771,8.35585366 L57.6421914,8.35585366 C59.8905629,8.35585366 60.6244771,6.83439024 60.6244771,5.45926829 C60.6244771,3.61829268 59.4509914,2.73439024 57.8865057,2.73439024 L55.4666771,2.73439024 Z M53.1449629,0.55 L57.8865057,0.55 C61.2355057,0.55 62.9947629,2.53829268 62.9947629,5.45926829 C62.9947629,7.0304878 62.5551914,8.08658537 61.6507914,9.01878049 C63.70342,9.65731707 64.8040486,11.3509756 64.8040486,13.7812195 C64.8040486,17.8070732 62.5551914,19.5743902 58.7170771,19.5743902 L53.1449629,19.5743902 L53.1449629,0.55 Z" id="Fill-18"></path>
                <polygon id="Fill-19" points="37.4494943 0.370243902 31.21778 19.3946341 33.6560657 19.3946341 37.4494943 7.09609756 41.2429229 19.3946341 43.6812086 19.3946341"></polygon>
                <polygon id="Fill-20" points="0.114142857 19.5746341 2.50045714 19.5746341 2.50045714 0.550243902 0.114142857 0.550243902"></polygon>
                <path d="M80.2358714,8.61678049 C77.8889,8.37385366 75.6390714,8.3977561 75.6390714,5.7982439 C75.6390714,3.9275122 76.1466429,2.73678049 78.7359857,2.73678049 C81.0538143,2.73678049 81.5881,3.82653659 81.7105,5.35287805 L84.0477571,4.72312195 C83.7101857,2.03970732 82.1729,0.54995122 78.7359857,0.54995122 C74.8162714,0.54995122 73.2440143,2.3484878 73.2440143,5.82263415 C73.2440143,9.39434146 75.7357286,10.4636098 77.9131857,10.6338537 C80.2358714,10.8275122 82.2438143,10.8762927 82.2438143,13.9377561 C82.2438143,16.1245854 81.7352714,17.3148293 79.2192714,17.3148293 L78.7597857,17.3148293 C76.3647286,17.3148293 75.6633571,16.1001951 75.5419286,14.5211707 L75.5341571,14.5211707 L73.1119,15.1733659 C73.4781286,17.9567805 75.2315571,19.5743415 78.7840714,19.5743415 L79.2435571,19.5743415 C83.0904143,19.5743415 84.6145857,17.8499512 84.6145857,13.8162927 C84.6145857,9.90458537 82.3890429,8.83580488 80.2358714,8.61678049" id="Fill-21"></path>
              </g>
            </svg></a></div>
        <div class="nav" v-on:click="toggleMenu"><span class="text">Menu </span><span class="icon" v-bind:class="{'active': menuState}"><span class="top"></span><span class="middle"></span><span class="bottom"></span></span></div>
      </header>
      <div class="page page-home scroll-container">
        <div class="scroller">
          <section class="section-home">
            <div class="center-background-mv hidden-sm hidden-xs">
              <video id="intro_vid" width="100%" height="100%">
                <source src="img/intro-start.mp4" type="video/mp4">
              </video>
              <video class="loop-video" id="loop_vid" width="100%" height="100%" preload="auto" muted loop>
                <source src="img/intro-loop.mp4" type="video/mp4">
              </video>
            </div>
            <div class="center-background visible-sm-block visible-xs-block" style="background-image: url(img/homepage-hub.svg)"></div>
            <div class="container container-centerized">
              <div class="heading">
                <div class="sec-subheading" data-text="Hello there"> </div>
                <div class="sec-heading" data-text="Welcome to Interactive Labs"> </div>
              </div>
              <div class="intro-bottom"><a class="more-cta" v-on:click="scrollDown">
                  <div class="icon-scroll"></div>
                  <p> <span class="text">See more</span></p></a></div>
            </div>
          </section>
          <section class="section-services">
            <div class="center-background-mv hidden-sm hidden-xs">
              <video class="loop-video" width="100%" height="100%" id="service_vid" preload="auto" muted loop>
                <source src="img/intro-loop.mp4" type="video/mp4">
              </video>
            </div>
            <div class="center-background visible-sm-block visible-xs-block" style="background-image: url(img/homepage-hub.svg)"></div>
            <div class="container container-centerized">
              <div class="heading">
                <div class="sec-subheading">What we offer</div>
                <div class="sec-heading">We are a full stack design and development studio</div>
              </div>
              <div class="services-list">
                <div class="row-1">
                  <div v-bind:class="{'service-wrapper': true}">
                    <div class="service" v-on:mouseenter="mouseover(1)" v-on:mouseleave="mouseleave(1)" id="service_icon_1">
                      <div class="content" v-on:mouseenter="showServiceNarrative(1)" v-on:mouseleave="hideServiceNarrative()">
                        <div class="thumb"></div>
                        <div class="lbl">User Research</div>
                      </div>
                    </div>
                  </div>
                  <div v-bind:class="{'service-wrapper': true}">
                    <div class="service" v-on:mouseenter="mouseover(2)" v-on:mouseleave="mouseleave(2)" id="service_icon_2">
                      <div class="content" v-on:mouseenter="showServiceNarrative(2)" v-on:mouseleave="hideServiceNarrative()">
                        <div class="thumb"></div>
                        <div class="lbl">Ideation</div>
                      </div>
                    </div>
                  </div>
                  <div v-bind:class="{'service-wrapper': true}">
                    <div class="service" v-on:mouseenter="mouseover(3)" v-on:mouseleave="mouseleave(3)" id="service_icon_3">
                      <div class="content" v-on:mouseenter="showServiceNarrative(3)" v-on:mouseleave="hideServiceNarrative()">
                        <div class="thumb"></div>
                        <div class="lbl">Visual Design</div>
                      </div>
                    </div>
                  </div>
                  <div v-bind:class="{'service-wrapper': true}">
                    <div class="service" v-on:mouseenter="mouseover(4)" v-on:mouseleave="mouseleave(4)" id="service_icon_4">
                      <div class="content" v-on:mouseenter="showServiceNarrative(4)" v-on:mouseleave="hideServiceNarrative()">
                        <div class="thumb"></div>
                        <div class="lbl">Prototype</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row-2">
                  <div v-bind:class="{'service-wrapper': true}">
                    <div class="service" v-on:mouseenter="mouseover(5)" v-on:mouseleave="mouseleave(5)" id="service_icon_5">
                      <div class="content" v-on:mouseenter="showServiceNarrative(5)" v-on:mouseleave="hideServiceNarrative()">
                        <div class="thumb"></div>
                        <div class="lbl">Backend development</div>
                      </div>
                    </div>
                  </div>
                  <div v-bind:class="{'service-wrapper': true}">
                    <div class="service" v-on:mouseenter="mouseover(6)" v-on:mouseleave="mouseleave(6)" id="service_icon_6">
                      <div class="content" v-on:mouseenter="showServiceNarrative(6)" v-on:mouseleave="hideServiceNarrative()">
                        <div class="thumb"></div>
                        <div class="lbl">Mobile development</div>
                      </div>
                    </div>
                  </div>
                  <div v-bind:class="{'service-wrapper': true}">
                    <div class="service" v-on:mouseenter="mouseover(7)" v-on:mouseleave="mouseleave(7)" id="service_icon_7">
                      <div class="content" v-on:mouseenter="showServiceNarrative(7)" v-on:mouseleave="hideServiceNarrative()">
                        <div class="thumb"></div>
                        <div class="lbl">Web Development</div>
                      </div>
                    </div>
                  </div>
                  <div v-bind:class="{'service-wrapper': true}">
                    <div class="service" v-on:mouseenter="mouseover(8)" v-on:mouseleave="mouseleave(8)" id="service_icon_8">
                      <div class="content" v-on:mouseenter="showServiceNarrative(8)" v-on:mouseleave="hideServiceNarrative()">
                        <div class="thumb"></div>
                        <div class="lbl">Product Management</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="intro-bottom"></div>
          </section>
          <section class="section-work">
            <div class="container container-centerized">
              <div class="heading">
                <div class="sec-subheading">What we do</div>
                <div class="sec-heading">We build winning<br/>products</div>
              </div>
              <div class="works-list" id="work-container">
                <div class="case-study-dcom card">
                  <div class="thumb">
                    <div class="pattern"></div><a class="logo" href="dcom.html"><img src="img/client-dcom-white.png" src-set="img/client-dcom-white@2x.png 2x" alt="dcom"></a>
                  </div>
                  <div class="content">
                    <div class="content-container">
                      <div class="title">Dictionary.com</div>
                      <div class="desc">
                        <p>See how we helped Dictionary.com increase visit frequency by 10%.</p>
                      </div><a class="more" href="dcom.html">View Case Study</a>
                    </div>
                  </div>
                </div>
                <div class="case-study-portal card">
                  <div class="thumb">
                    <div class="pattern"></div><a class="logo" href="portal.html"><img src="img/client-portal-white.svg" alt="portal"></a>
                  </div>
                  <div class="content">
                    <div class="content-container">
                      <div class="title">Portal</div>
                      <div class="desc">
                        <p>Learn how we let users set up their wifi networks in under 7 minutes</p>
                      </div><a class="more" href="portal.html">View Case Study</a>
                    </div>
                  </div>
                </div>
                <div class="case-study-cision card cs-more">
                  <div class="thumb">
                    <div class="pattern"></div><a class="logo" href="cision.html"><img src="img/client-cision-white.png" src-set="img/client-cision-white@2x.png 2x" alt="cision"></a>
                  </div>
                  <div class="content">
                    <div class="content-container">
                      <div class="title">Cision</div>
                      <div class="desc">
                        <p>Learn how we helped Cision consolidate different product lines into a unified user experience to increase efficiency and reduce development time.</p>
                      </div><a class="more" href="cision.html">View Case Study</a>
                    </div>
                  </div>
                </div>
                <div class="case-study-greatschools card cs-more">
                  <div class="thumb">
                    <div class="pattern"></div><a class="logo" href="cision.html"><img src="img/client-gs-white.png" src-set="img/client-gs-white@2x.png 2x" alt="cision"></a>
                  </div>
                  <div class="content">
                    <div class="content-container">
                      <div class="title">Great Schools</div>
                      <div class="desc">
                        <p>See how we are helping millions of parents get a great education for their child.</p>
                      </div><a class="more" href="cision.html">View Case Study</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-center more-container"><a class="btn btn-arrow-down sm" @click="expandClient">Show more<span class="arr">...</span></a></p>
            </div>
          </section>
          <section class="section-how">
            <div class="center-background-mv hidden-sm hidden-xs">
              <video class="loop-video" width="100%" height="100%" id="service_vid" preload="auto" muted loop>
                <source src="img/intro-loop.mp4" type="video/mp4">
              </video>
            </div>
            <div class="center-background visible-sm-block visible-xs-block" style="background-image: url(img/homepage-hub.svg)"></div>
            <div class="background-overlay"></div>
            <div class="container container-centerized">
              <div class="heading">
                <div class="sec-subheading">HOW WE WORK</div>
                <div class="sec-heading">Collaborative, Iterative,<br/>Flexible, Numbers Driven</div>
              </div>
              <div class="process-content">
                <div class="container">
                  <div class="content"></div>
                  <div class="process-button">
                    <p class="text-center"><a class="btn btn-arrow-down sm" href="process.html">View process<span class="arr"> <span class="icon-arrow-right"></span></span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section-clients">
            <div class="container container-centerized">
              <div class="heading">
                <div class="sec-subheading">OUR CUSTOMERS</div>
                <div class="sec-heading">Great companies work with great customers!</div>
                <!--well established companies, our team can meet your needs.-->
              </div>
              <div class="clients-list">
                <div class="row">
                  <div class="col-md-3 col-sm-6" v-for="client in clients">
                    <div class="client-item">
                      <div class="thumb"><img v-if="!client.imgSvg" v-bind:src="client.img" v-bind:srcset="client.imgHighRes"><img v-else v-bind:src="client.imgSvg"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section-contact">
            <div class="center-background-mv hidden-sm hidden-xs">
              <video class="loop-video" width="100%" height="100%" id="service_vid" preload="auto" muted loop>
                <source src="img/intro-loop.mp4" type="video/mp4">
              </video>
            </div>
            <div class="center-background visible-sm-block visible-xs-block" style="background-image: url(img/homepage-hub.svg)"></div>
            <div class="container container-centerized">
              <div class="heading">
                <div class="sec-subheading">Contact</div>
                <div class="sec-heading">We would love to<br/>work with you</div>
              </div>
              <div class="contact-content">
                <p>Have a great idea? Reach us at</p>
                <p class="cta"><a href="mailto:hello@interactivelabs.co">hello@interactivelabs.co</a></p>
              </div>
            </div>
            <div class="address">
              <p class="add logo"><img src="img/graphic-logo.svg"></p>
              <p class="add">Phone:&nbsp;<b> <a href="tel:4158698842">415 869-8842</a></b></p>
              <p class="add">Copyright &copy; 2017 interactivelabs.co</p>
            </div>
          </section>
        </div>
      </div>
      <div class="page-nav">
        <ul>
          <li v-bind:class="{active: currentPage == 1}"><a v-on:click="goToPage(1)"><span class="icon-triangle"></span><span class="text"> <span class="inner">Introduction</span></span></a></li>
          <li v-bind:class="{active: currentPage == 2}"><a v-on:click="goToPage(2)"><span class="icon-triangle"></span><span class="text"> <span class="inner">Services</span></span></a></li>
          <li v-bind:class="{active: currentPage == 3}"><a v-on:click="goToPage(3)"><span class="icon-triangle"></span><span class="text"> <span class="inner">Case Studies</span></span></a></li>
          <li v-bind:class="{active: currentPage == 4}"><a v-on:click="goToPage(4)"><span class="icon-triangle"></span><span class="text"> <span class="inner">Process</span></span></a></li>
          <li v-bind:class="{active: currentPage == 5}"><a v-on:click="goToPage(5)"><span class="icon-triangle"></span><span class="text"> <span class="inner">Customers</span></span></a></li>
          <li v-bind:class="{active: currentPage == 6}"><a v-on:click="goToPage(6)"><span class="icon-triangle"></span><span class="text"> <span class="inner">Contact</span></span></a></li>
        </ul>
      </div>
      <div class="page-menu">
        <div class="overlay"></div>
        <div class="menu-content">
          <div class="menu-wrapper">
            <ul>
              <li v-bind:class="{active: currentPage == 1 }"><a href="index.html#introduction" v-on:click="closeMenu">Home</a></li>
              <li v-bind:class="{active: currentPage == 2 }"><a href="index.html#services" v-on:click="closeMenu">Services</a></li>
              <li v-bind:class="{active: currentPage == 3 }"><a href="index.html#case-studies" v-on:click="closeMenu">Case Studies</a>
                <ul class="sub-menu">
                  <li><a href="great-schools.html">Greatschools</a></li>
                  <li><a href="cision.html">Cision</a></li>
                  <li><a href="dcom.html">Dictionary.com</a></li>
                </ul>
              </li>
              <li v-bind:class="{active: currentPage == 4 }"><a href="index.html#process" v-on:click="closeMenu">Process</a></li>
              <li v-bind:class="{active: currentPage == 5 }"><a href="index.html#customers" v-on:click="closeMenu">Customers</a></li>
              <li v-bind:class="{active: currentPage == 6 }"><a href="index.html#contact" v-on:click="closeMenu">Contact</a></li>
            </ul>
          </div>
          <div class="logo"><img src="img/ilabs-logo-bubbles.svg"></div>
        </div>
      </div>
    </div>
    <div id="loading_screen">
      <div id="loading_logo"></div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-96911906-1', 'auto');
      ga('send', 'pageview');
      
    </script>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>