<!DOCTYPE html>
<html>
  <head>
    <title>Ilab - Process</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-96911906-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="process">
    <div id="wrapper" v-bind:class="{'menu-on': menuState}">
      <header>
        <div id="logo"><a href="index.html">
            <svg v-bind:class="{'white': menuState}" width="85px" height="20px" viewBox="25 25 85 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(25.000000, 25.000000)">
                <polygon id="Fill-17" points="12.6339143 19.5745366 12.6339143 0.550146341 14.9930286 0.550146341 14.9930286 17.4028293 22.3880286 17.4028293 22.3880286 19.5745366"></polygon>
                <path d="M58.76662,17.3407317 C61.6017343,17.3407317 62.4327914,15.9660976 62.4327914,13.8060976 C62.4327914,11.4002439 61.0397629,10.59 58.8399629,10.59 L55.5152486,10.59 L55.5152486,17.3407317 L58.76662,17.3407317 Z M55.4666771,2.73439024 L55.4666771,8.35585366 L57.6421914,8.35585366 C59.8905629,8.35585366 60.6244771,6.83439024 60.6244771,5.45926829 C60.6244771,3.61829268 59.4509914,2.73439024 57.8865057,2.73439024 L55.4666771,2.73439024 Z M53.1449629,0.55 L57.8865057,0.55 C61.2355057,0.55 62.9947629,2.53829268 62.9947629,5.45926829 C62.9947629,7.0304878 62.5551914,8.08658537 61.6507914,9.01878049 C63.70342,9.65731707 64.8040486,11.3509756 64.8040486,13.7812195 C64.8040486,17.8070732 62.5551914,19.5743902 58.7170771,19.5743902 L53.1449629,19.5743902 L53.1449629,0.55 Z" id="Fill-18"></path>
                <polygon id="Fill-19" points="37.4494943 0.370243902 31.21778 19.3946341 33.6560657 19.3946341 37.4494943 7.09609756 41.2429229 19.3946341 43.6812086 19.3946341"></polygon>
                <polygon id="Fill-20" points="0.114142857 19.5746341 2.50045714 19.5746341 2.50045714 0.550243902 0.114142857 0.550243902"></polygon>
                <path d="M80.2358714,8.61678049 C77.8889,8.37385366 75.6390714,8.3977561 75.6390714,5.7982439 C75.6390714,3.9275122 76.1466429,2.73678049 78.7359857,2.73678049 C81.0538143,2.73678049 81.5881,3.82653659 81.7105,5.35287805 L84.0477571,4.72312195 C83.7101857,2.03970732 82.1729,0.54995122 78.7359857,0.54995122 C74.8162714,0.54995122 73.2440143,2.3484878 73.2440143,5.82263415 C73.2440143,9.39434146 75.7357286,10.4636098 77.9131857,10.6338537 C80.2358714,10.8275122 82.2438143,10.8762927 82.2438143,13.9377561 C82.2438143,16.1245854 81.7352714,17.3148293 79.2192714,17.3148293 L78.7597857,17.3148293 C76.3647286,17.3148293 75.6633571,16.1001951 75.5419286,14.5211707 L75.5341571,14.5211707 L73.1119,15.1733659 C73.4781286,17.9567805 75.2315571,19.5743415 78.7840714,19.5743415 L79.2435571,19.5743415 C83.0904143,19.5743415 84.6145857,17.8499512 84.6145857,13.8162927 C84.6145857,9.90458537 82.3890429,8.83580488 80.2358714,8.61678049" id="Fill-21"></path>
              </g>
            </svg></a></div>
        <div class="nav" v-on:click="toggleMenu"><span class="text">Menu </span><span class="icon" v-bind:class="{'active': menuState}"><span class="top"></span><span class="middle"></span><span class="bottom"></span></span></div>
      </header>
      <div class="page page-process">
        <section class="gray" id="process-flow">
          <div class="container">
            <p class="section-subheading">PROCESS</p>
            <h3 class="section-heading">Design process</h3>
            <div class="services-content-wrapper">
              <div class="services-list">
                <div class="service-wrapper" id="service_1" v-on:click="updateActiveService(1)" v-bind:class="{'active': activeService == 1}">
                  <div class="service">
                    <div class="content">
                      <div class="thumb">
                        <svg width="48px" height="43px" viewbox="83 75 48 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Group-9" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(85.000000, 76.000000)" stroke-linecap="round" stroke-linejoin="round">
                            <path id="Stroke-5" d="M22,0 L22,10" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-8" d="M0,38 L8,34" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-9" d="M44,38 L36,34" stroke="#444444" stroke-width="2"></path>
                            <polyline id="Stroke-10" stroke="#444444" stroke-width="2" points="8 17 22 24 36 17"></polyline>
                            <path id="Stroke-11" d="M22,24 L22,41" stroke="#444444" stroke-width="2"></path>
                            <polygon id="Stroke-12" stroke="#444444" stroke-width="2" points="36 17 22 10 8 17 8 34 22 41 36 34"></polygon>
                          </g>
                        </svg>
                      </div>
                      <div class="lbl">DISCOVERY SESSION</div>
                    </div>
                  </div>
                  <div class="arrow">
                    <svg width="17px" height="65px" viewbox="812 638 17 65" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Group-12-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(820.000000, 670.500000) scale(-1, 1) rotate(90.000000) translate(-820.000000, -670.500000) translate(788.500000, 663.500000)" stroke-linecap="round" stroke-linejoin="round">
                        <path id="Stroke-366" d="M0,7 L61,7" stroke="#DEDEDE" stroke-width="2"></path>
                        <polyline id="Stroke-367" stroke="#DEDEDE" stroke-width="2" points="56 4.54747351e-13 63 7 56 14"></polyline>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="service-wrapper" id="service_2" v-on:click="updateActiveService(2)" v-bind:class="{'active': activeService == 2}">
                  <div class="service">
                    <div class="content">
                      <div class="thumb">
                        <svg width="46px" height="46px" viewbox="84 75 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Group-17" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(85.000000, 76.000000)" stroke-linecap="round" stroke-linejoin="round">
                            <path id="Stroke-3083" d="M22,6 C22,2.686 19.314,0 16,0 C13.378,0 11.173,1.692 10.356,4.036 C10.235,4.031 10.122,4 10,4 C4.477,4 0,8.477 0,14 C0,16.697 1.079,19.134 2.815,20.933 C1.129,21.995 0,23.86 0,26 C0,28.023 1.009,29.804 2.543,30.891 C2.219,31.875 2,32.907 2,34 C2,39.523 6.477,44 12,44 C17.523,44 22,39.523 22,34 L22,18" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-3084" d="M22,6 C22,2.686 24.686,0 28,0 C30.622,0 32.827,1.692 33.644,4.036 C33.765,4.031 33.878,4 34,4 C39.523,4 44,8.477 44,14 C44,16.697 42.921,19.134 41.185,20.933 C42.871,21.995 44,23.86 44,26 C44,28.023 42.991,29.804 41.457,30.891 C41.781,31.875 42,32.907 42,34 C42,39.523 37.523,44 32,44 C26.477,44 22,39.523 22,34" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-3085" d="M10,24 C7.158,24 4.592,22.814 2.772,20.91" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-3086" d="M34,24 C36.842,24 39.408,22.814 41.228,20.91" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-3087" d="M22,6 C22,9.314 19.314,12 16,12" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-3088" d="M22,6 C22,9.314 24.686,12 28,12" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-3089" d="M13.9888,29.6546 C11.6638,28.8276 9.9998,26.6086 9.9998,23.9996 C9.9998,22.2236 10.7718,20.6266 11.9998,19.5286" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-3090" d="M30.0112,29.6546 C32.3362,28.8276 34.0002,26.6086 34.0002,23.9996 C34.0002,22.2236 33.2272,20.6266 32.0002,19.5286" stroke="#444444" stroke-width="2"></path>
                          </g>
                        </svg>
                      </div>
                      <div class="lbl">IDEATION</div>
                    </div>
                  </div>
                  <div class="arrow">
                    <svg width="17px" height="65px" viewbox="812 638 17 65" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Group-12-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(820.000000, 670.500000) scale(-1, 1) rotate(90.000000) translate(-820.000000, -670.500000) translate(788.500000, 663.500000)" stroke-linecap="round" stroke-linejoin="round">
                        <path id="Stroke-366" d="M0,7 L61,7" stroke="#DEDEDE" stroke-width="2"></path>
                        <polyline id="Stroke-367" stroke="#DEDEDE" stroke-width="2" points="56 4.54747351e-13 63 7 56 14"></polyline>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="service-wrapper" id="service_3" v-on:click="updateActiveService(3)" v-bind:class="{'active': activeService == 3}">
                  <div class="service">
                    <div class="content">
                      <div class="thumb">
                        <svg width="44px" height="30px" viewbox="85 91 44 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Group-19" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(87.000000, 92.000000)" stroke-linecap="round" stroke-linejoin="round">
                            <path id="Stroke-293" d="M0,14 C0,14 7.9,0 20,0 C32,0 40,14 40,14 C40,14 31.9,28 20,28 C8,28 0,14 0,14 L0,14 Z" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-294" d="M20,7 C23.866,7 27,10.134 27,14 C27,17.866 23.866,21 20,21 C16.134,21 13,17.866 13,14 C13,10.134 16.134,7 20,7 L20,7 Z" stroke="#444444" stroke-width="2"></path>
                          </g>
                        </svg>
                      </div>
                      <div class="lbl">LOOK &amp; FEEL</div>
                    </div>
                  </div>
                  <div class="arrow">
                    <svg width="17px" height="65px" viewbox="812 638 17 65" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Group-12-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(820.000000, 670.500000) scale(-1, 1) rotate(90.000000) translate(-820.000000, -670.500000) translate(788.500000, 663.500000)" stroke-linecap="round" stroke-linejoin="round">
                        <path id="Stroke-366" d="M0,7 L61,7" stroke="#DEDEDE" stroke-width="2"></path>
                        <polyline id="Stroke-367" stroke="#DEDEDE" stroke-width="2" points="56 4.54747351e-13 63 7 56 14"></polyline>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="service-wrapper" id="service_4" v-on:click="updateActiveService(4)" v-bind:class="{'active': activeService == 4}">
                  <div class="service">
                    <div class="content">
                      <div class="thumb">
                        <svg width="42px" height="46px" viewbox="86 75 42 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Group-18" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(87.000000, 76.000000)" stroke-linecap="round" stroke-linejoin="round">
                            <path id="Stroke-158" d="M24,42 L2,42 C0.895,42 0,41.105 0,40 L0,2 C0,0.895 0.895,0 2,0 L30,0 C31.105,0 32,0.895 32,2 L32,16" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-159" d="M14,36 L18,36" stroke="#444444" stroke-width="2"></path>
                            <polyline id="Stroke-160" stroke="#444444" stroke-width="2" points="24 30 6 30 6 6 26 6 26 16"></polyline>
                            <path id="Stroke-161" d="M38,44 L26,44 C24.895,44 24,43.105 24,42 L24,18 C24,16.895 24.895,16 26,16 L38,16 C39.105,16 40,16.895 40,18 L40,42 C40,43.105 39.105,44 38,44 L38,44 Z" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-162" d="M24,36 L40,36" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-163" d="M24,22 L40,22" stroke="#444444" stroke-width="2"></path>
                          </g>
                        </svg>
                      </div>
                      <div class="lbl">PROTOTYPE</div>
                    </div>
                  </div>
                  <div class="arrow">
                    <svg width="17px" height="65px" viewbox="812 638 17 65" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Group-12-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(820.000000, 670.500000) scale(-1, 1) rotate(90.000000) translate(-820.000000, -670.500000) translate(788.500000, 663.500000)" stroke-linecap="round" stroke-linejoin="round">
                        <path id="Stroke-366" d="M0,7 L61,7" stroke="#DEDEDE" stroke-width="2"></path>
                        <polyline id="Stroke-367" stroke="#DEDEDE" stroke-width="2" points="56 4.54747351e-13 63 7 56 14"></polyline>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="service-wrapper" id="service_5" v-on:click="updateActiveService(5)" v-bind:class="{'active': activeService == 5}">
                  <div class="service">
                    <div class="content">
                      <div class="thumb">
                        <svg width="47px" height="46px" viewbox="34 -1 47 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Group-20" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(35.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                            <path id="Stroke-76" d="M20,24 L20,24 C14.477,24 10,17.523 10,12 L10,10 C10,4.477 14.477,0 20,0 C25.523,0 30,4.477 30,10 L30,12 C30,17.523 25.523,24 20,24 L20,24 Z" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-77" d="M21,29.009 C20.67,29.003 20.337,29 20,29 C13.712,29 8.523,30.098 5.007,31.144 C2.034,32.028 0,34.755 0,37.856 L0,42 L21,42" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-78" d="M27.223,32 C28.133,27.992 31.717,25 36,25 C39.534,25 42.527,27.037 44,30" stroke="#444444" stroke-width="2"></path>
                            <polyline id="Stroke-79" stroke="#444444" stroke-width="2" points="44 24 44 30 38 30"></polyline>
                            <path id="Stroke-80" d="M44.777,36 C43.867,40.008 40.283,43 36,43 C32.466,43 29.473,40.963 28,38" stroke="#444444" stroke-width="2"></path>
                            <polyline id="Stroke-81" stroke="#444444" stroke-width="2" points="28 44 28 38 34 38"></polyline>
                          </g>
                        </svg>
                      </div>
                      <div class="lbl">USER TESTING</div>
                    </div>
                  </div>
                  <div class="arrow">
                    <svg width="17px" height="65px" viewbox="812 638 17 65" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Group-12-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(820.000000, 670.500000) scale(-1, 1) rotate(90.000000) translate(-820.000000, -670.500000) translate(788.500000, 663.500000)" stroke-linecap="round" stroke-linejoin="round">
                        <path id="Stroke-366" d="M0,7 L61,7" stroke="#DEDEDE" stroke-width="2"></path>
                        <polyline id="Stroke-367" stroke="#DEDEDE" stroke-width="2" points="56 4.54747351e-13 63 7 56 14"></polyline>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="service-wrapper" id="service_6" v-on:click="updateActiveService(6)" v-bind:class="{'active': activeService == 6}">
                  <div class="service">
                    <div class="content">
                      <div class="thumb">
                        <svg width="43px" height="43px" viewbox="86 76 43 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Group-21" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(87.000000, 77.000000)" stroke-linecap="round" stroke-linejoin="round">
                            <path id="Stroke-395" d="M4,12 L12,4" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-396" d="M38,30 L30,38" stroke="#444444" stroke-width="2"></path>
                            <polyline id="Stroke-397" stroke="#444444" stroke-width="2" points="21 29 30 38 40 40 38 30 29 21"></polyline>
                            <polyline id="Stroke-398" stroke="#444444" stroke-width="2" points="19 11 8 0 0 8 11 19"></polyline>
                            <polygon id="Stroke-399" stroke="#444444" stroke-width="2" points="10 40 0 30 30 0 40 10"></polygon>
                            <path id="Stroke-400" d="M18,12 L20,14" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-401" d="M24,6 L28,10" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-402" d="M12,18 L16,22" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-403" d="M6,24 L8,26" stroke="#444444" stroke-width="2"></path>
                          </g>
                        </svg>
                      </div>
                      <div class="lbl">ITERATION</div>
                    </div>
                  </div>
                  <div class="arrow">
                    <svg width="17px" height="65px" viewbox="812 638 17 65" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Group-12-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(820.000000, 670.500000) scale(-1, 1) rotate(90.000000) translate(-820.000000, -670.500000) translate(788.500000, 663.500000)" stroke-linecap="round" stroke-linejoin="round">
                        <path id="Stroke-366" d="M0,7 L61,7" stroke="#DEDEDE" stroke-width="2"></path>
                        <polyline id="Stroke-367" stroke="#DEDEDE" stroke-width="2" points="56 4.54747351e-13 63 7 56 14"></polyline>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="service-wrapper" id="service_7" v-on:click="updateActiveService(7)" v-bind:class="{'active': activeService == 7}">
                  <div class="service">
                    <div class="content">
                      <div class="thumb">
                        <svg width="46px" height="42px" viewbox="65 -1 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Group-22" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(66.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                            <polyline id="Stroke-738" stroke="#444444" stroke-width="2" points="14 22 10 26 14 30"></polyline>
                            <polyline id="Stroke-739" stroke="#444444" stroke-width="2" points="30 22 34 26 30 30"></polyline>
                            <path id="Stroke-740" d="M20,34 L24,18" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-741" d="M6,6 L8,6" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-742" d="M14,6 L16,6" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-743" d="M30,6 L38,6" stroke="#444444" stroke-width="2"></path>
                            <path id="Stroke-744" d="M0,12 L44,12" stroke="#444444" stroke-width="2"></path>
                            <polygon id="Stroke-745" stroke="#444444" stroke-width="2" points="0 40 44 40 44 0 0 0"></polygon>
                          </g>
                        </svg>
                      </div>
                      <div class="lbl">SHIP TO ENGINEERING</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-content-list hidden">
                <transition name="fade">
                  <div class="overlay" v-if="activeService != 0" v-on:click="updateActiveService(0)"></div>
                </transition>
                <transition name="fade">
                  <div class="service-content" v-if="activeService == 1">
                    <div class="upper-content">
                      <h2 class="heading">DISCOVERY SESSION</h2>
                      <h3>Tasks</h3>
                      <ul>
                        <li>Identify user roles</li>
                        <li>Identify user goals / motivations </li>
                        <li>Identify user stories</li>
                        <li>Identify business strategy, KIPs, key differentiators, competitive landscape, advantages over competitors</li>
                      </ul>
                    </div>
                    <div class="highlight-content">
                      <h3>Deliverables</h3>
                      <p>User stories</p>
                      <p>Product blue print (high level feature set)</p>
                    </div>
                  </div>
                </transition>
                <transition name="fade">
                  <div class="service-content" v-if="activeService == 2">
                    <div class="upper-content">
                      <h2 class="heading">IDEATION</h2>
                      <h3>Tasks</h3>
                      <ul>
                        <li>Feature ideation</li>
                        <li>Feature definition</li>
                        <li>Prioritization</li>
                      </ul>
                    </div>
                    <div class="highlight-content">
                      <h3>Deliverables</h3>
                      <p>MVP feature list</p>
                      <p>Design estimate</p>
                      <p>Recommended roadmap</p>
                    </div>
                  </div>
                </transition>
                <transition name="fade">
                  <div class="service-content" v-if="activeService == 3">
                    <div class="upper-content">
                      <h2 class="heading">LOOK &amp; FEEL</h2>
                      <h3>Tasks</h3>
                      <ul>
                        <li>Style Guide</li>
                        <li>Mood Boards</li>
                        <li>Iconography</li>
                        <li>Typography Layout</li>
                      </ul>
                    </div>
                    <div class="highlight-content">
                      <h3>Deliverables</h3>
                      <p>Visual designs</p>
                      <p>Regular check point reviews</p>
                    </div>
                  </div>
                </transition>
                <transition name="fade">
                  <div class="service-content" v-if="activeService == 4">
                    <div class="upper-content">
                      <h2 class="heading">PROTOTYPE</h2>
                      <h3>Tasks</h3>
                      <ul>
                        <li>Wireframes</li>
                        <li>Interaction design</li>
                        <li>Build clickable prototype</li>
                        <li>Internal review</li>
                      </ul>
                    </div>
                    <div class="highlight-content">
                      <h3>Deliverables</h3>
                      <p>Sitemap</p>
                      <p>Invision Prototype</p>
                      <p>Preliminary dev estimate</p>
                      <p>Final design estimate</p>
                    </div>
                  </div>
                </transition>
                <transition name="fade">
                  <div class="service-content" v-if="activeService == 5">
                    <div class="upper-content">
                      <h2 class="heading">USER TESTING</h2>
                      <h3>Tasks</h3>
                      <ul>
                        <li>Define Test Scenarios</li>
                        <li>Recruit Users</li>
                        <li>Conduct user tests</li>
                        <li>Analyze user tests</li>
                      </ul>
                    </div>
                    <div class="highlight-content">
                      <h3>Deliverables</h3>
                      <p>User Testing Plan</p>
                      <p>Audit with action plan</p>
                    </div>
                  </div>
                </transition>
                <transition name="fade">
                  <div class="service-content" v-if="activeService == 6">
                    <div class="upper-content">
                      <h2 class="heading">ITERATION</h2>
                      <h3>Tasks</h3>
                      <ul>
                        <li>Refine design based on user feedback</li>
                      </ul>
                    </div>
                    <div class="highlight-content">
                      <h3>Deliverables</h3>
                      <p>Locked down design &amp; interactions</p>
                    </div>
                  </div>
                </transition>
                <transition name="fade">
                  <div class="service-content" v-if="activeService == 7">
                    <div class="upper-content">
                      <h2 class="heading">SHIP TO ENGINEERING</h2>
                      <h3>Tasks</h3>
                      <ul>
                        <li>Export assets</li>
                        <li>Create layout specifications</li>
                      </ul>
                    </div>
                    <div class="highlight-content">
                      <h3>Deliverables</h3>
                      <p>Spec and assets</p>
                    </div>
                  </div>
                </transition>
              </div>
            </div>
          </div>
        </section>
        <section class="agile-section">
          <div class="container">
            <h3 class="section-heading">Agile development process</h3>
            <div class="agile-process"><img src="img/agile-visual.png" srcset="img/agile-visual@2x.png"></div>
          </div>
        </section>
      </div>
      <div class="page-menu">
        <div class="overlay"></div>
        <div class="menu-content">
          <div class="menu-scroll-content">
            <div class="menu-wrapper">
              <ul>
                <li v-bind:class="{active: currentPage == 1 }"><a href="index.html#introduction" v-on:click="closeMenu">Home</a></li>
                <li v-bind:class="{active: currentPage == 2 }"><a href="index.html#services" v-on:click="closeMenu">Services</a></li>
                <li v-bind:class="{active: currentPage == 3 }"><a href="index.html#case-studies" v-on:click="closeMenu">Case Studies</a>
                  <ul class="sub-menu">
                    <li><a href="great-schools.html">Greatschools</a></li>
                    <li><a href="portal.html">Portal</a></li>
                    <li><a href="cision.html">Cision</a></li>
                    <li><a href="dcom.html">Dictionary.com</a></li>
                    <li><a href="pared.html">Pared</a></li>
                    <li><a href="crew.html">Crew</a></li>
                  </ul>
                </li>
                <li v-bind:class="{active: currentPage == 4 }"><a href="index.html#process" v-on:click="closeMenu">Process</a></li>
                <li v-bind:class="{active: currentPage == 5 }"><a href="index.html#customers" v-on:click="closeMenu">Customers</a></li>
                <li v-bind:class="{active: currentPage == 6 }"><a href="index.html#contact" v-on:click="closeMenu">Contact</a></li>
                <li><a href="data-consulting.html">Data Practice</a></li>
                <li><a href="ilabsturns5">ILabs Turns 5</a></li>
                <li><a href="about.html">About Us</a></li>
              </ul>
            </div>
            <div class="logo"><img src="img/ilabs-logo-bubbles.svg"></div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <p class="section-subheading">CONTACT</p>
          <h3 class="section-heading">We would love to<br/>work with you.</h3>
          <div class="contact-content">
            <p>Have a great idea? Reach us at:</p>
            <p class="cta"><a href="mailto:hello@interactivelabs.co">hello@interactivelabs.co</a></p>
          </div>
          <p class="text-center"><img src="img/graphic-logo.svg"></p>
          <p class="info-line"><span class="label-text">Phone:&nbsp;<b><a href="tel:4158698842">415 869-8842</a></b></span></p>
          <p class="copy-line">Copyright &copy; 2019 interactivelabs.co</p>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>